<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="TeamFiles" value="T:\NugetTestFolder" enableCredentialProvider="false" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="packageInstallLocation" value="CustomWithinAssets" />
    <add key="repositoryPath" value="EasyDI.Unity/Plugins" />
    <add key="PackagesConfigDirectoryPath" value="." />
    <add key="slimRestore" value="false" />
    <add key="InstallFromCache" value="false" />
    <add key="ReadOnlyPackageFiles" value="true" />
    <add key="PreferNetStandardOverNetFramework" value="true" />
    <add key="KeepingPdbFiles" value="true" />
  </config>
</configuration>